:plain
  <!DOCTYPE html>
%html{:lang => 'en'}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "description", :content => ""}
    %meta{:name => "author", :content => ""}
    %title= "Bootstrap, from Twitter"
    
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      %script{:src=>"http://html5shiv.googlecode.com/svn/trunk/html5.js"}
    
    / Le styles
    %link{:rel => "stylesheet", :href => "/bootstrap/bootstrap.css"}
    %link{:rel => "stylesheet", :href => "/styles/css/main.css"}
    
    / Le scripts
    %script{:type => "text/javascript", :src => "//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"}
    %script{:type => "text/javascript", :src => "//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"}
    %script{:type => 'text/javascript', :src => '/bootstrap/js/bootstrap-alerts.js'}
    %script{:type => 'text/javascript', :src => '/js/main.js'}
    
    / Le fav and touch icons
    %link{:rel => "shortcut icon", :href => "images/favicon.ico"}
    %link{:rel => "apple-touch-icon", :href => "images/apple-touch-icon.png"}
    %link{:rel => "apple-touch-icon", :sized => '72x72', :href => "images/apple-touch-icon-72x72.png"}
    %link{:rel => "apple-touch-icon", :sized => '114x114', :href => "images/apple-touch-icon-114x114x.png"}
  
  %body
    .topbar
      .fill
        .container
          %a{:class => 'brand', :href => '#'}= "Project name"
          %ul{:class => 'nav'}
            %li{:class => ('active' if request.path_info == '/')}
              %a{:href => "/"}= "Home"
            %li{:class => ('active' if request.path_info == '/about')}
              %a{:href => "/about"}= "About"
            %li{:class => ('active' if request.path_info == '/contact')}
              %a{:href => "/contact"}= "Contact"
          .pull-right
            - if logged_in?
              .identity
                %a{:href => "/users/#{current_user.id}"}= current_user.name
                |
                %a{:href => "/logout"} logout
            - else
              %form{:action => "/login", :method => 'post', :class => "pull-right"}
                %input{:id => 'user_email', :name => 'email', :class => "input-small", :type => "text", :placeholder => "Username"}
                %input{:id => 'user_password', :name => 'password', :class => "input-small", :type => "password", :placeholder => "Password"}
                %button{:class => "btn", :type => "submit"}= "Sign in"
    -if flash[:notice]
      .alert
        .alert-message
          %a{:href => '#', :class => 'close alert-close'}x
          = flash[:notice]
    .container
      .content
        = yield
      
      %footer
        %p &copy; Company 2011